/* Sets the general admin styles */

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif!important;
}

body.toplevel_page_djp-builder, body.toplevel_page_110-fields, body.toplevel_page_djp-dates {
    background      :   #f1f1f1!important;
}

.req {
	border			:	1px dashed #FF0000!important;	
}

.clear {
	width			:	100%;
	clear			:	both;
	margin			:	0;
}

.right {
	text-align		:	right;
}

.clear_border {
	width			:	100%;
	clear			:	both;
	margin			:	10px 0 5px 0;
	height			:	1px;
	background		:	#999;
}

.clear_margin {
	width			:	100%;
	clear			:	both;
	margin			:	0;
	height			:	15px;
}

.clear_margin10 {
	width			:	100%;
	clear			:	both;
	height			:	10px;
}

.clear_margin15 {
	width			:	100%;
	clear			:	both;
	height			:	15px;
}

.clear_margin25 {
	width			:	100%;
	clear			:	both;
	height			:	25px;
}

.eighth {
	float       :   left;
    width       :   12.5%;
	box-sizing	:	border-box;
	padding		:	5px 5px 0 5px!important;
}

.fifth {
	float       :   left;
    width       :   20%;
	box-sizing	:	border-box;
	padding		:	5px 5px 5px 5px!important;
}

.quarter {
	float       :   left;
    width       :   25%;
	box-sizing	:	border-box;
	padding		:	5px 5px 0 5px!important;
}

.third {
	float       :   left;
    width       :   33.33%;
	box-sizing	:	border-box;
	padding		:	5px 5px 0 5px!important;
}

.twothird {
	float       :   left;
    width       :   66.66%;
	box-sizing	:	border-box;
	padding		:	5px 5px 0 5px!important;
}

.half {
	float       :   left;
    width       :   50%;
	box-sizing	:	border-box;
	padding		:	5px 5px 0 5px!important;
}

.threequarters {
	float       :   left;
    width       :   75%;
	box-sizing	:	border-box;
	padding		:	5px 5px 0 5px!important;
}

.full, .Full {
	float       :   left;
    width       :   100%;
	margin		:	0;
	box-sizing	:	border-box;
	padding		:	5px 5px 0 5px!important;
}

.remodal .tab-pane {
    padding-top :   10px!important;
    min-height  :   200px!important;
}

#preview img {
	max-width	:	100%;
	height		:	auto;
}

.alert {
	width		:	100%;
	padding		:	15px;
	margin		:	15px 0;
	border-radius	:	5px;
	text-align	:	center;
	font-size	:	14px;
	box-sizing	:	border-box;
	clear		:	both;
}

.alert-success {
	border		:	1px solid #33F75E;
	background	:	#C0F9CC;
	color		:	#33F75E;
}

.alert-danger {
	border		:	1px solid #FF0000;
	background	:	#ffb5b5;
	color		:	#FF0000;
}

.order {
	padding		:	10px 2%;
	width		:	96%;
	background	:	#E1E1E1;
	cursor		:	move;
}

.order p {
	font-size	:	20px!important;
	padding		:	0;
	margin		:	5px 0 10px 0;
}

.order .third {
	margin		:	5px 0 0 0;
}

.roles {
	height		:	16px;
	margin		:	4px 0;
}

.roles i {
	font-size	:	16px;
	line-height	:	16px;
}

.roles i.icon-check-empty {
	color		:	#848484;
}

.rolebreak {
	height		:	5px;
}

.checks {
	text-align	:	center;
}

.setting-saved {
	width		:	978px;
	padding		:	10px;
	border		:	1px dotted #54A04B;
	background	:	#C8FFBF;
	color		:	#54A04B;
}

.button-primary {
	color		:	#FFF!important;
}

.header {
	padding			:	5px 5px 2px 5px;
	background		:	#333;
	color			:	#FFF;
	font-weight		:	bold;
	text-transform	:	uppercase;
	font-size		:	14px;
	display			:	inline-block;
	width			:	auto;
	margin			:	15px 0 0 0;
	clear			:	both;
}

.bottom {
	height			:	3px;
	background		:	#333;
	width			:	100%;
	padding			:	0;
	margin			:	0 0 5px 0;
}

.team_wrapper {
	width			:	98%;
	padding			:	5px 1%;
	margin			:	5px 0;
	background		:	#F1F1F1;
}


/* Custom Post Type Pages */

.meta_inner {
    width           :   100%;
    min-height      :   50px;
    height          :   auto;
    display         :   table;
	font-size		:	13px;
}

.meta_inner ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #CCC;
    opacity: 1; /* Firefox */
}

.meta_inner :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #CCC;
}

.meta_inner ::-ms-input-placeholder { /* Microsoft Edge */
    color: #CCC;
}

.meta_inner_admin {
    width           :   100%;
    max-width       :   1100px!important;
    min-height      :   250px;
    height          :   auto;
    display         :   block;
    overflow-x      :   hidden;
	font-size		:	13px;
    position        :   relative;
}

.loading {
    position        :   absolute;
    width           :   100%;
    height          :   100%;
    left            :   0;
    top             :   0;
    background      :   #F1F1F1;
    opacity         :   0.80;
    text-align      :   center!important;
}

.loading img {
    margin-top      :   25px;
    float           :   none;
}

.meta_inner_reports {
    width           :   100%;
    min-height      :   50px;
    height          :   auto;
    display         :   table;
	font-size		:	13px;
}

.meta_inner input[type=text], .meta_inner input[type=number], .meta_inner input[type=password], .meta_inner textarea, .meta_inner select,
.meta_inner_admin input[type=text], .meta_inner_admin input[type=number], .meta_inner_admin input[type=password], .meta_inner_admin textarea, .meta_inner_admin select {
	padding		:	10px;
	margin		:	0 0 4px 0;
	font-size	:	14px;
	color		:	#666;
	border		:	1px solid #CCC;
	width		:	100%;
	border-radius	: 3px;
	height		:	40px;
}

.meta_inner select, .meta_inner_admin select {
	height		:	40px!important;
}

.pos select {
    border      :   1px solid #159B20;
}

.neg select {
    border      :   1px solid #FF0000;
}

.meta_inner_admin input[type=button] {
	line-height		:	37px!important;
	height			:	37px!important;
}

.meta_inner textarea, .meta_inner_admin textarea {
	height		:	105px;
}

.meta_inner input[type=checkbox], .meta_inner_admin input[type=checkbox] {
	margin		:	0 5px 0 0;
	width		:	25px!important;
}

.meta_inner p.titles, .meta_inner_admin p.titles, p.titles {
    font-weight     :   bold;
    margin-bottom   :   4px;
    margin-top      :   5px;
	padding			:	0;
}

.meta_inner p, .meta_inner_admin p {
    padding         :   2px 0;
    margin          :   5px;
}

.meta_inner input, .meta_inner_admin input {
    margin          :   0 0 0 5px;
}