@require('_index.styl')

body
    background-color #1b1b1b
    background-position 0 0
    background-repeat repeat
    font-family "Poppins", sans-serif
    font-size 18px
    //color cast(#000223 50%)
    &:before
        content ""
        position absolute
        width 100%
        height 100%
        top 0
        left 0
        //backdrop-filter grayscale(100%)
        //background cast(#005aa4 80%)
        //background cast(#000051 80%)

#page
    background none
    @media(max-width 1400px)
        body.single-pokedex &
            padding-left 20px
            padding-right 20px
        body.post-type-archive-pokedex &
            padding-left 20px
            padding-right 20px
        body.tax-pokecategory &
            padding-left 20px
            padding-right 20px
b, strong  
    font-weight 700

h1
    font-weight bold
    text-transform capitalize
h1.page-title
    padding-bottom 20px
    border-bottom 1px solid cast(black 12%)
    margin-bottom -20px

#content
    background #f4f4f4 url(https://pro-primetime-pokemon.local/wp-content/uploads/2021/09/bg-content-ltr-2d.jpg) repeat 0 0
    background-size 75% auto

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6
    //font-family "Karantina", serif
    font-family "Poppins", sans-serif
    //text-transform uppercase
    //font-weight 300
    a
        font-weight 400

h2, .h2
    font-size 32px
    line-height 36px

#content.site-content
    padding-bottom 40px

body.single-pokedex #content.site-content,
body.post-type-archive-pokedex #content.site-content,
body.tax-pokecategory #content.site-content
    padding-top 40px

body.home #content.site-content
    padding-top 0

body.home .page .entry-title
    display: none

.home-banner
    width 100%
    min-height 400px
    background-size cover
    background-position 50% 50%
    background-repeat no-repeat
    box(flex row nowrap, start center, 50%)
    color #fff
    padding 80px 10vw
    h1, h2, h3, h4, h5, h6
        color #fff
    h1, h2
        font-size 38px
        line-height 40px
        font-weight bold
    a.button
        margin-bottom 0
    .home-banner-content
        p
            &:last-child
                margin-bottom 0

    img.wp-image-1860
        margin-left -10px
        margin-bottom -20px

footer.site-footer
    background #fff
    border-radius 0 0 6px 6px
    border-top 1px solid cast(black 12%)

.site-content .sidebar-section
    margin-top 0

.storefront-breadcrumb
    display: none

a.button.no-margin
    margin 0
.btn, a.btn, .button, a.button, button, input[type="submit"], input[type="button"], input[type="reset"]
    border 1px solid #000
    border-bottom-width 2px
    &.btn-small
        font-size 60%
    &:focus,
    &:active
        outline 0
        color #fff

.centered 
    display block
    margin-left auto
    margin-right auto
    text-align center
    padding-bottom 60px
#pokemon .poke-card.poke-weaks
    margin-top -20px
    h3
        font-weight 300!important
        font-size 20px!important
        line-height 24px!important
        letter-spacing .5px
        border-color transparent!important
        background none!important
        top -26px
    ul
        &.poke-pills
            li
                font-size 20px
                line-height 28px
                padding 2px 4px 0
                border-radius 6px
                margin-right 4px
                span
                    padding 0 12px
                .icon
                    display none

ul
    &.clean-list
        margin 0
        padding 0
        & > li
            list-style-type none
    &.inline-list
        box(flex row wrap, start start, 1)

    &.poke-pills
        box(flex row wrap, start start)
        li
            box(flex row nowrap, start center, 30px 1)
            text-align center
            //min-width 46%
            margin 5px 10px 5px 5px
            font-size 28px
            font-family "Karantina"
            text-transform uppercase
            position relative
            line-height 36px
            border-radius 20px 6px 6px 20px
            overflow hidden
            letter-spacing .5px
            padding 0 0 2px 3px
            border 1px solid cast(black)
            border-width 1px 1px 2px 1px
            //text-shadow 0 1px 0 cast(black 25%)
            /*&:before
                content ""
                bottom 0
                left 0
                width 100%
                height 3px
                position absolute
                background-color cast(black 10%)
            &:after
                content ""
                top 0
                left 0
                width 100%
                height 3px
                position absolute
                background-color cast(white 20%)*/
            &.ice,
            &.electric
                text-shadow none
                span
                    color cast(black 77%)
                .icon
                    svg
                        color cast(black 77%)
                    border-color cast(black 80%)
            span
                color #fff
                //text-shadow -1px 2px 0 cast(black 100%)
                padding 1px 18px 0 10px
            .icon
                position relative
                min-width 40px
                height 20px
                margin-top 3px
                margin-left -2px
                svg
                    color cast(white)
                    max-width 22px
                    max-height 22px
                    position absolute
                    top 50% 
                    left 50%
                    transform translate(-50%, -50%)

#pokedex
    hug(90%)
    max-width 1200px
    margin-top 20px
    //padding-top 60px
    //background #fff

#pokenav
    box(flex row nowrap, center center stretch, 200px 1 200px)
    text-align center
    margin-bottom 40px
    padding 0 60px
    //border 1px solid rgba(0,0,0,.12)
    //border-width 1px 0
    //border-radius 999px
    //background-color cast(#f9f9f9 50%)
    //backdrop-filter blur(4px)
    @media(max-width 600px)
        padding 0 60px
    & > .pokenav-link
        min-height 100px
        position relative
        box(flex column, center start)
        &.pokenav-right
            align-items flex-end
        a
            width 60px
            height 60px
            display block
            position relative
            border-radius 6px
            transition border-color .3s, background-color .3s
            &.poke-nav-left
                &:hover,
                &:active
                    .arrow-button
                        margin-left -6px
            &.poke-nav-right
                &:hover,
                &:active
                    .arrow-button
                        margin-left 6px
            &:before
                content ""
                position absolute
                top 0
                left 60%
                right -60%
                bottom 0
                display block
                z-index 2
            &.poke-nav-left
                &:before
                    left -60%
                    right 60%
                .arrow-button
                    left 0
                    transform translate(-60%, -50%) scaleY(-1)
            .arrow-button
                position absolute
                top 50%
                left 100%
                transform translate(-40%, -50%)
                font-size 48px
                z-index 1
                transition margin .3s
                //opacity .5
            .poke-nav-thumb
                width 100%
                height 100%
                display block
                background-size contain
                background-position 50% 50%
                background-repeat no-repeat
                border-radius 6px
                position relative
                z-index 3
                @media(max-width 600px)
                    display none
            .poke-nav-name
                position absolute
                top -10px
                left 50%
                //margin-top 30px
                margin-left -5px
                transform translate(-50%, -50%)
                padding 2px 4px
                //background cast(black 60%)
                border-radius 3px
                font-size 18px
                font-weight bold
                //color #fff
                opacity .3
                text-transform capitalize
                z-index 2
    .poke-current
        padding 10px
        .poke-add
            padding-top 4px
            display block
            font-style italic
        .poke-name
            font-size 16px
            line-height 24px
            font-weight 400
            //padding-bottom 6px
            display inline-block
            margin-top -10px
            letter-spacing -1px
            text-align right
            color cast(#000223 30%)
            b
                display block
                text-align center
                margin-top -10px
                padding 0 1em
                font-size 24px
                color #000223
            sup
                font-weight 300
                //margin-left -14px
        .poke-id
            font-size 24px
            line-height 24px
            //font-style italic
            //font-weight bold
            //opacity .3
            letter-spacing .5px
            display block
            padding-right 8px
            b
                font-weight 700
#pokemon
    border-radius 20px
    padding 20px
    position relative
    .poke-flip
        cursor pointer
    .swap-button
        position absolute
        top 18px
        left 0
        z-index 10
        //transform translateX(-50%)
        line-height 42px
        height 42px
        width 30px
        text-align center
        display inline-block
        padding 0 3px
        //background #005aa4
        background #000
        color #eee
        border-radius 50% 50% 50% 50% / 60% 60% 40% 40%
        font-size 15px
        transition background-color 0.3s
        border 2px solid #000
        border-width 1px 1px 2px
        //pointer-events none
        cursor pointer
        transition transform 0.3s
        transform translateZ(100px) rotate(0deg)
        svg
            transition transform 0.3s
        &:hover
            background #222
        &.activate
            background #222
            transform translateZ(100px) rotate(90deg)
            //border-color yellow
            svg
                color cast(white 50%)
                transform rotate(-90deg)
    .poke-profile
        box(flex row nowrap, space-between start, "1 0 50%" "1 0 47%" 100%)
        @media(max-width 1000px)
            box(flex column nowrap, stretch start, "0 1 90%")
    .poke-summary
        padding-top 40px
        margin-left 3%
    .poke-image
        max-width 50%
        @media(max-width 1000px)
            max-width 100%
        margin-bottom 30px
        perspective 2000px
        transform-style preserve-3d
        &.activate
            .poke-image-description
                transform rotateY(180deg)
            .poke-image-placeholder
                transform rotateY(180deg)
        .poke-image-description
            position absolute
            top 0
            left 0
            width 100%
            min-height 600px
            //outline 2px solid blue
            display block
            //padding 40px
            background #000
            transform rotateY(0deg)
            transition transform .5s ease
            border-radius 10px
            border 1px solid #000
            border-width 0 1px 2px 1px
            overflow hidden
            color #fff
            //margin-bottom 60px
            .pid-section
                padding 35px 40px
            .poke-stats-bar-fill
                background linear-gradient(180deg, rgba(0,0,0,0%), rgba(0,0,0,10%))
            h3
                font-size 32px
                font-family Karantina
                font-weight bold
                text-shadow -1px 2px 0 cast(black 70%)
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: cast(black 75%);
                color #fff
            ul.poke-details-list li
                text-shadow -1px 1px 0px cast(black 20%), 0 2px 3px cast(black 20%)
                margin-bottom 8px
            p
                //font-family Karantina
                //font-size 28px
                //line-height 24px
                //font-weight 300
                //letter-spacing .5px
                background-color cast(white)
                color #000
                border-radius 6px
                padding 15px 20px
                text-shadow -1px 1px 0px cast(black 10%), 0 2px 3px cast(black 10%)
                //font-size 15px
                //font-weight 500
                border 1px solid black
                border-bottom-width 2px
                span
                    text-shadow none
                    font-weight 300
                    opacity .4
                svg
                    font-size 15px
                    opacity .4
            & > *
                transform scaleX(-1)
            &:before
                content ""
                position absolute
                top 0
                left 0
                bottom 0
                right 0
                //background-color cast(black 50%)

        .poke-image-placeholder
            box(flex row nowrap, center stretch)
            position relative
            z-index 1
            text-align center
            overflow hidden
            border-radius 10px
            box-shadow inset 0 0 40px rgba(0,0,0,.15)
            border 1px solid #000
            border-width 0 1px 2px 1px
            min-height 600px
            transition transform .5s ease
            backface-visibility hidden
            margin-bottom 30px
            .poke-stats
                & > ul li 
                        .poke-stats-bar-fill span
                            opacity .5
                        .poke-stats-hp,
                        .poke-stats-atk,
                        .poke-stats-def,
                        .poke-stats-satk,
                        .poke-stats-sdef,
                        .poke-stats-spd
                            &:after
                                content none
                            &:before
                                content ""
                                width: 100%
                                height 30px
                                background linear-gradient(0deg, rgba(255,255,255,0), rgba(255,255,255,.3))
                            background cast(white 20%)
                            border 1px solid white
                            border-bottom 0
            h1,h2
                font-family Karantina!important
                font-weight 400
                letter-spacing 1px
                font-size 48px
                line-height 42px
                margin 10px 0 0
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: cast(black 75%);
                text-shadow -1px 2px 0 cast(black 70%)
                color #fff
            .poke-overview
                color #fff
                position absolute
                top 20px
                left 6%
                font-family Karantina
                text-align left
                width 88%
                .poke-add
                    font-size 24px
                    display inline-block
                    color #000
                    font-weight 300
                .poke-id
                    position absolute
                    top 0
                    right 0
                    font-size 90px
                    font-weight 400
                    line-height 90px
                    -webkit-text-stroke-width: 1px;
                    -webkit-text-stroke-color: cast(black 75%);
                    text-shadow -1px 2px 0 cast(black 70%)
                    sup
                        color #000
                        text-shadow none
                        -webkit-text-stroke-width: 0;
                        position absolute
                        top 20px
                        left -12px
                        z-index -1
                        font-size 45px
                        font-weight 300
            .poke-cat
                font-size 24px
                font-weight 400
                padding-left 2px
                color #000
                text-shadow 0 0 24px cast(white 20%)
            img
                margin 130px 60px 90px
                max-width 360px
                max-height 360px
                width 90%
                height auto
        .poke-stats
            position absolute
            bottom 0
            left 0
            right 0
            width 100%
            z-index -1
            height 100%
            max-height 300px
            & > ul
                box(flex row wrap, start stretch, 1)
                height 100%
                width 101%
                margin-left -.5%
                li
                    box(flex column nowrap, end center)
                    position relative
                    //text-shadow 0 2px 3px cast(black 10%)
                    .poke-stats-bar-fill
                        height 100%
                        width 96%
                        //background linear-gradient(180deg, rgba(0,0,0,0%), rgba(0,0,0,10%))
                        position relative
                        span
                            width 100%
                            position absolute
                            bottom 0
                            left 0
                            border-right 2px solid cast(white 5%)
                            //border 1px solid transparent
                            &:before
                                content ""
                                display block
                                top 0
                                left 0
                                width 100%
                                height 4px
                                background-color cast(white 10%)
                            &:after
                                content ""
                                display block
                                top 0
                                left 0
                                width 2px
                                height 100%
                                background-color cast(black 2%)
                    .poke-stats-item-amount
                        height 20px
                        line-height 20px
                        font-size 36px
                        letter-spacing 1px
                        font-weight bold
                        color white
                        position absolute
                        bottom 36px
                        left 0
                        width 100%
                        text-align center
                        text-shadow -1px 2px 0 cast(black 70%)
                        -webkit-text-stroke-width: 1px;
                        -webkit-text-stroke-color: cast(black 75%);
                        font-family "Karantina"
                    .poke-stats-item-title
                        height 24px
                        line-height 28px
                        font-size 20px
                        letter-spacing .5px
                        font-weight 400
                        //font-weight bold
                        //border 2px solid rgba(0,0,0,1)
                        //border-width .5px 1px 2px 2px
                        position absolute
                        bottom 8px
                        left 20%
                        width 60%
                        text-align center
                        color #000
                        //text-shadow -1px 1px 0 cast(black 100%)
                        //color cast(black 60%)
                        //background linear-gradient(0deg, rgba(0,0,0,.1), rgba(0,0,0,.2))
                        //background rgba(255,255,255,.8)
                        border-radius 12px
                        font-family "Karantina"

                    .poke-stats-hp
                        background cast(#D45F5F 100%)
                    .poke-stats-atk
                        background cast(#9D9FE9 100%)
                    .poke-stats-def
                        background cast(#D7D4A1 600 100%)
                    .poke-stats-satk
                        background cast(#8082D6 100%)
                    .poke-stats-sdef
                        background cast(#B7B48E 100%)
                    .poke-stats-spd
                        background cast(#65D53D 600 100%)
    .poke-card
        border-radius 3px
        //overflow hidden
        //background-color cast(black 5%)
        background-color cast(white 50%)
        backdrop-filter blur(4px)
        padding 20px
        margin-bottom 60px
        position relative
        border 1px solid #000
        border-bottom-width 2px
        &.poke-weaks,
        &.poke-spells-hidden
            h3
                &:before
                        content none
        &.poke-spells
            padding 15px
        &.poke-card-clean
            background none
            border none
            padding 6px 0 0
        &.poke-card-half
            display inline-block
            width 47%
        &.poke-description
            p
                //font-weight 500
                padding 0 10px
                //font-size 18px
                svg
                    opacity .3
                span
                    opacity .15
            h3
                //background #fff
                z-index 2

        h3
            font-size 24px
            position absolute
            top -36px
            left 0
            //opacity .3
            //opacity .5
            text-transform uppercase
            font-family "Karantina"
            font-weight 400
            letter-spacing 1px
            //border-left 4px solid cast(black 12%)
            padding-left 5px
            //color cast(black 30%)
            //background cast(#000223 90%)
            //border-top 4px solid cast(#000223 10%)
            //color cast(#000223 30%)
            //background linear-gradient(90deg, #000223, rgba(0,0,0,.7))
            //color #fff
            padding 2px 6px
            //border-radius 3px
            width calc(100% + 2px)
            &:before
                position absolute
                content ""
                display block
                width 100%
                height 8px
                background-color cast(#000223 10%)
                background linear-gradient(90deg, rgba(0,2,35,.2) 0%, rgba(0,2,35,0) 50%)
                border-radius 4px 0 0 4px
                bottom 3px
                left 0


        &.poke-details
            //margin-top -20px

        &.poke-types
            margin-bottom 60px

        &.poke-spells
            &.poke-spells-hidden
                //border-color cast(black 30%)
                //border-bottom-width 1px
                background cast(tan 20%)
                margin-top -13px
                h3
                    letter-spacing .5px
                    font-weight 300
                    font-size 20px
                    line-height 24px
                    border-color transparent
                    color #000223
                    //color cast(#000223 30%)
                    background none
            h4 
                font-size 16px
                font-weight bold
                margin-bottom 4px
                display inline-block
            p
                font-size 14px
                line-height 20px

    ul.poke-details-list
        padding 0 10px
        li
            box(flex row nowrap, start center, 0 1)
            padding 4px
            span:nth-child(1)
                font-weight bold
            span:nth-child(2)
                text-align right
                border-bottom 1px dotted cast(black 60%)
                //font-style italic

    ul.poke-spells-list
        li
            //box(flex row nowrap, start center, 0 1)
            padding 4px
            span
                font-weight bold
                margin-bottom 12px
                display block
            ul
                width 100%
                padding 0 0 5px 5px
                li
                    border-bottom 1px dotted cast(black 60%)
                    margin 4px 0 35px
                    padding-left 8px
                    border-radius 3px 3px 0 0
                    box(flex row nowrap, start start, "1 0 180px" "999 1 auto")
                    @media(max-width 600px)
                        box(flex column nowrap, stretch start, "0 1 auto")
                    & > h4 
                        padding-right 14px
                    &:last-child
                        border-bottom 0
                        margin-bottom 0
                        padding-bottom 0
                        p
                            margin-bottom 0
                

    ul.poke-chain
        box(flex row wrap, start center, 1)
        h5
            margin 0
        .poke-chain-link
            position relative
            text-align center
            a
                display block
            &.current
                cursor default
                pointer-events none
                h5
                    background #000
                    color #fff
                    border-radius 4px
            h5
                font-size 14px
                letter-spacing -.25px
                margin 0
                padding 2px 10px
                display inline-block
            &:last-child
                .arrow-chain-icon
                    display none
        .poke-chain-item
            margin 20px 0
        .poke-chain-link-image
            position relative
            img
                max-width 80px
                max-height 60px
            .arrow-chain-icon
                position absolute
                transform translate(50%, -50%)
                top 50%
                right 0
                color cast(black 20%)


svg#Layer_1
    width 150%
    height auto
    max-height 600px
    max-width 600px
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    z-index -1

    .st0, .st1, .st2, .st3
        fill none
        stroke cast(white 6%)
        stroke-width 42
        stroke-miterlimit 10

    .st0 
        stroke-dasharray 12.1947,12.1947,12.1947,12.1947,12.1947,12.1947

    .st1
        stroke-dasharray 50,90,200,30,40,0

    .st2
        stroke-linecap square
        stroke-dasharray 120, 20, 110, 20, 140

    .st3
        stroke-width 16
        stroke-linecap square

@keyframes shine 
    0%
        transform translateX(-100%) translateY(-100%) rotate(30deg)
    40%
        transform translateX(-100%) translateY(-100%) rotate(30deg)
    50%
        transform translateX(100%) translateY(100%) rotate(30deg)

//#pokemon.is-baby
  //  .swap-button
    //    background linear-gradient( 225deg, #d4e4fe, #fec4ee )
      //  color #000
        //&.activate svg
          //  color #888

//#pokemon.is-legendary
  //  .swap-button
    //    background linear-gradient( to bottom, #c39738, #deb761, #c39738 )

//#pokemon.is-mythical
  //  .swap-button
    //    background linear-gradient( to bottom, #d5d7e5, #eee, #d5d7e5 )
      //  color #000
        //&.activate svg
          //  color #888

#pokemon.is-legendary,
#pokemon.is-mythical
    .poke-image .poke-image-placeholder .shine
        display block
        position absolute
        height 100%
        width 100%
        z-index 1
        overflow hidden
        &:after
            content ""
            top 0
            transform translateX(100%) rotate(30deg)
            width 300%
            height 300%
            position absolute
            z-index 1
            animation shine 6s infinite ease-in
            opacity .2
            background linear-gradient( to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(128,186,232,0) 99%, rgba(128,186,232,0) 100%)

.site.container
    margin-top 100px

.notification-bar
    display block
    width 100%
    text-align center
    color #fff
    position absolute
    top -85px
    left 0
    font-size 13px
    b
        font-family monospace, monospace
        color #F1D941
        letter-spacing 1px
        display inline-block
        padding 0 4px 
        border-radius 3px
        background-color cast(white 12%)
        cursor pointer

.woocommerce-breadcrumb
    display: none

nav.main-navigation
    margin-top -50px
    text-align center
    //border-radius 6px 6px 0 0
    //background linear-gradient(90deg, #fefefe, #fff)
    overflow hidden

    ul.primary-menu
        box(flex row nowrap, end stretch, 1)
        li  
            &:first-child
                border-radius 6px 0 0 0
            &:last-child
                border-radius 0 6px 0 0
            overflow hidden
            padding 0 0 6px
            margin 0
            position relative
            border 0!important
            flex 0 1 300px
            &:before
                content ""
                position absolute
                top 0
                left 0
                height 44px
                width 100%
                background linear-gradient(90deg, #fbfbfb, #fff)
                z-index 1
                transition height .3s
            &:hover
                &:before
                    height 0
            a
                outline 0
                border 0
                box-shadow none!important
                display block
                height 44px
                line-height 46px
                padding 0
                font-size 16px
                font-weight 600
                text-transform uppercase
                color #000054
                border-radius 0
                position relative
                z-index 5
                background none!important
                &:before
                    position absolute
                    bottom 0
                    left 0
                    height 1px
                    width 100%
                    content ""
                    display block
                    background rgba(0,0,0,.08)
                @media(max-width 1000px)
                    font-size 14px
            &:nth-child(5n+1) 
                background #F7DB9C
            &:nth-child(5n+2) 
                background #D7F1FF
            &:nth-child(5n+3) 
                background #FFE8E8
            &:nth-child(5n+4) 
                background #D4DEBA
            &:nth-child(5n+5) 
                background #DAC5DD

.site-header .site-branding
    flex 0 1 200px
    @media(max-width 600px)
        flex-basis auto

.search-form__inner-container.th-max-w-prose
    max-width none

form.search-form
    max-width 800px

.site-branding a
    display block
    max-width 140px
    margin-right 15px
    outline 0
    @media(max-width 600px)
        margin 0 auto 20px


header.site-header
    padding 30px 30px
    background #f9f9f9
    border-bottom 1px solid cast(black 12%)
    border-radius 6px 0 0
    box(flex row nowrap, start center, 1)
    @media(max-width 600px)
        box(flex column nowrap center start)
    .header-links
        align-self center
        .icons-menu
            margin 0
            width 100%
            form
                margin-left auto
            &:before,
            &:after
                content none

.search-form 
    width 100%
    position relative
    .search-field
        border-radius 24px
        height 48px
        line-height 48px
        font-size 13px
        color cast(#282828 50%)
        width 100%
        background #fff
        border 0
        box-shadow inset 0 3px 6px rgba(0,0,0,.08)
        font-family Poppins, sans-serif
        letter-spacing 0.25px
        &:focus
            background #fff
        @media(max-width 600px)
            width 100%
            min-width 100%
    .submit
        display block
        border 0
        border-radius 999px
        padding 0
        width 42px
        height 42px
        line-height 48px
        position absolute
        top 4px
        right 4px
        transition background 0.3s
        margin 0
        background #E1E9F0
        color #075AA0
        &:hover,
        &:active
            background #CDDEEC
        svg
            z-index 1
            font-size 20px
            fill #075AA0
            position relative

body.post-type-archive-pokedex,
body.tax-pokecategory
    .pokedex-archive-header
        margin-bottom 40px

    .pokedex-archive-list
        box(flex row wrap, start start stretch, 31%)
        display flex
        margin-left -1%
        margin-right -1%

        & > *
            flex 1 1 31%
            @media(max-width 1000px)
                flex-basis 48%
            @media(max-width 600px)
                flex-basis 100%

    article.pokedex
        margin 10px 1%
        padding 0!important
        border 1px solid cast(black 8%)
        border-radius 0 6px 6px 0!important
        overflow hidden
        box-shadow 0 3px 5px cast(black 4%)

        &:before
            content none!important

        a
            display block
            color inherit
            text-decoration none

            &:hover,
            &:active
                header.entry-header
                    opacity .6

        header.entry-header
            background linear-gradient(90deg, #f7f7f7, #fbfbfb)
            border-left 2px solid cast(black 8%)
            position relative
            transition opacity .3s
            box(flex row nowrap, start center, 0 1)
            min-height 80px

            span.pokemon-id
                position absolute
                top -5px
                right 6px
                font-size 48px
                line-height 48px
                color cast(black 10%)
                font-family Karantina, serif
                font-weight 400
                background linear-gradient(205deg, #ddd, #666)
                background-clip text
                opacity .2

        .pokedex-archive-card__content
            flex 1 1 auto
            padding-right 42px

        img
            max-width 60px
            margin 10px 15px

        h2
            font-size 18px!important
            padding 0!important
            font-family Poppins, sans-serif
            text-transform none
            font-weight 600

    .pokedex-archive-pagination
        margin-top 20px

        nav.navigation.pagination
            flex 1 0 100%!important
            margin-bottom 60px
            text-align center
            box(flex row nowrap, center stretch, 1)

    .navigation.pagination .page-numbers
        float none
        display inline-block
        margin-bottom 10px
        font-family Karantina, serif
        font-size 22px
        @media(max-width 1000px)
            min-width 12px
            height 36px
            line-height 36px
            margin-left 5px

    .pokedex-archive-empty
        padding 10px 0 40px

ul#site-header-cart
    margin-left 10px
    li
        padding-top 2px
        a
            display block
            position relative
            width 42px
            height 42px
            line-height 42px
            text-align center
            margin 0
            background cast(#005aa4 10%)
            //border 1px solid rgba(0,0,0,.12)
            //box-shadow 0 3px 2px rgba(0,0,0,.2)
            border-radius 999px
            transition background-color 0.3s
            font-size 20px

            &:hover,
            &:active
                background cast(#005aa4 20%)

                svg
                    color #005aa4

            svg
                color #075AA0
                transition all 0.3s

            span
                position absolute
                top -4px
                right -4px
                background #3E3E7B
                color #FDBF23
                display inline-block
                border-radius 999px
                padding 0 3px
                line-height 15px
                min-width 16px
                text-align center
                font-size 10px
                font-weight bold
                border 1px solid #fff

                &:before,
                &:after
                    content none

body.single-pokedex
    #pokedex
        margin-top 56px
    #pokemon
        ul.poke-pills
            li
                font-family "Poppins", sans-serif
                font-weight 700
                letter-spacing .25px
                span
                    font-family "Poppins", sans-serif
        .poke-image
            .poke-image-placeholder
                h1,
                h2
                    font-family "Poppins", sans-serif!important
                    font-weight 700
                    letter-spacing 0
                    text-shadow -1px 2px 0 cast(black 55%)
                .poke-overview
                    font-family "Poppins", sans-serif
                    font-weight 600
                    .poke-id
                        font-family "Poppins", sans-serif
                        font-weight 700
                        letter-spacing 0
            .poke-stats > ul li
                .poke-stats-item-amount,
                .poke-stats-item-title
                    font-family "Poppins", sans-serif
                    letter-spacing 0
                .poke-stats-item-title
                    font-weight 700
        .poke-card
            h2,
            h3
                font-family "Poppins", sans-serif
            h2:before,
            h3:before
                background-color rgba(244, 248, 255, .16)
                background linear-gradient(90deg, rgba(244, 248, 255, .38) 0%, rgba(244, 248, 255, 0) 78%)
        ul.poke-details-list
            li
                span:nth-child(2)
                    border-bottom 1px dotted rgba(244, 248, 255, .35)
        ul.poke-spells-list
            li
                ul
                    li
                        border-bottom 1px dotted rgba(244, 248, 255, .28)
    @media(max-width 1000px)
        #pokemon
            .poke-profile
                align-items stretch
            .poke-image,
            .poke-summary
                width 100%
                max-width 100%
                float none
                margin-left 0
                flex-basis 100%
            .poke-summary
                margin-top 24px
            .poke-card.poke-card-half
                display block
                width 100%
